AGENT_USERNAME=
AGENT_PASSWORD=
ACCOUNTNAME=
TD_ID_BASE_URL=

#sip-call-provider configs
TOCALLER=
FROMCALLER=
UAC_HOST=
UAC_PORT=
UAS_HOST=
UAS_PASSWORD=
UAS_USERNAME=
SIP_TUNNEL_URL=
HTTP_CLIENT_PROPERTIES_SOCKET_TIMEOUT=
HTTP_CLIENT_PROPERTIES_CONNECT_TIMEOUT=
HTTP_CLIENT_PROPERTIES_CONNECTION_REQUEST_TIMEOUT=
NGROK_PROTOCOL=
NGROK_PORT=
NGROK_AUTH=
CALL_PROVIDER_API_URL=  

#twilio-toolkit configs
TWILIO_TOOLKIT_ACCOUNTSID=twilioAccountSID
TWILIO_TOOLKIT_AUTHTOKEN=twilioAuthToken